body{
    font-family: 'lato', sans-serif;
    background: linear-gradient(to bottom, #33ccff 0% , #ff9999 100%);
    margin: 0;
  }
  #navbar{
    background-color:#383434;
    display: block;
    position: fixed;
    width: 100%;
    height: 80px;
    margin: -22px 0 0 0;
    padding: 8px
  }
  .nav-text{
    margin: auto;
    text-align: right;
    float: right;
    padding: 35px 30px ;
    color: white;
  }
  a:hover{
    background-color: #ddd;
    color: black;
  }
  #about{
    padding: 150px;
    margin: auto;
    background-color: #d92b1e;
    background-image:url('https://images.unsplash.com/photo-1585229259444-3c786a7159eb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80') ;
    background-size: cover;
    display: block;
  }
  .about-text{
    text-align: center;
    font-size: 40px;
    padding: 40px 10px -20px 10px;
  }
  h1{
    padding: 30px;
  }
  p{
    font-style: monosapce;
    color: white;
    margin: 10px
  }
  #project{
    background-color: #2c949c;
    width: 100%;
    height: 1000px;
  }
  .projects {
    float: left;
    width: 33.33%;
    padding: 15px;
    outline-style:solid ;
    ouline-color: black;
    text-align: center;
  }
  .port-img{
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 30px;
    
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  section{
    text-align: center;
    padding: 20px;
  }
  #social-media{
    height=300px;
  }
  .social-links{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    font-size: 30px;
    
  }
  .social-links a{
    color: white;
    margin: 0px 10px;
  }
  section h2{
    margin-bottom: 0;
  }
  section p{
    margin-top: 0;
  }
  footer{
     background-color:#383434;
    color: white;
    text-align: center;
    width: 100%;
    height: 20px;
    margin-top: 30px;
    padding: 10px 10px;
    display: block;
    
  }
  footer .fa-heart{
    color: red;
  }
  