<style>
body{
    margin :0;
    padding :0;
    }
    .container{
        top : 50%;
        left : 50%;
        position : absolute;
        transform : translate(-50%,-50%)
    }
</style>